body, section {
    min-width: 320px;
}

#bgMain {
background: url('../images/bg_main_2.jpg') no-repeat fixed center top;
	text-align:center;
	background-attachment: relative;

	min-height: 650px;
	width: 100%;
	color: #fff;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#bgMain h2 {
    font-family: "Roboto";
    text-transform: uppercase;
    font-weight: 400;
    font-size: 38px;
    margin-top: 20px;
}
#bgMain h3 {
    font-family: "Roboto";
    text-transform: none;
    font-weight: 100;
    font-size: 30px;
        margin-bottom: 33px;
}
.hs1 {
    font-family: 'Roboto Condensed';
    color: #000;
    text-transform: uppercase;
    margin-top: 70px
}

.hdivider {
    width: 70px;
    height: 2px;
    background-color: #82B541;
    margin: 23px auto 35px auto;
}

.ps {
    font-size: 17px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #444;
    margin-bottom: 40px;
}



.swiper-container {
    width: 100%;
    min-height: 450px;
    margin: 20px auto;
    padding-bottom: 90px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-width: 373px;

    /*!* Center slide text vertically *!*/
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/

    /*-moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/
    /*-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/
    /*box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);*/

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);

    display: block;
    -moz-transition:  box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-transition:  box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);

    color: #626262;
    transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}


.swiper-slide:hover {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12),
    0 5px 5px -3px rgba(0, 0, 0, 0.4);
}



.swiper-slide-image {
    position: relative;
}

.swiper-slide-tsquare {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
    bottom: -16px;
    background-color: #FF5619;
    color: #fff;
    padding: 6px 15px;
    position: absolute;
    right: 50px;
    z-index: 1;
}

.swiper-slide-tsquare span{
    position: relative;
    z-index: 2;
}

.swiper-slide-caption h3 {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: left;

}

.swiper-slide-caption h4 {
    font-family: "Roboto",sans-serif;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
    opacity: 0.9;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    text-transform: uppercase;
    text-align: left;
}

.swiper-slide-caption header {
    background-color: rgb(141, 153, 142);
    color: #fff;
    padding: 20px 40px;
}


.swiper-slide-caption  dl {
    color: #222;
    font-size: 13px;
    padding: 20px 40px;
}

.swiper-slide-caption  dl dt {
    float: left;
    font-weight: normal;
}

.swiper-slide-caption dl dd {
    text-align: right;
    margin-bottom: 10px;
}

.swiper-slide dl {
    margin-bottom: 0;
    padding-bottom: 0;
}
.swiper-slide footer {
    padding-bottom: 30px;
}


#personalWhite {
    padding-top: 30px;
    padding-bottom: 30px;
}




#headerPhone span {
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 400;

    opacity: 0.9;
    display: block;
float: left;

padding-right: 8px;
}
#headerPhone a {
    display: inline-block;
    text-transform: lowercase;
    font-weight: 300;
    font-size: 14px;
    text-decoration: none;
    padding: 3px !important;
    text-align: right;
}
#headerPhone a:hover {
    border-bottom: 1px dotted #fff;
}



#headerPhone img {
    opacity: 0.8;
height: 40px;
margin-top: 13px;


}




#projects {
    background-color: #F5F5F5;
    padding-bottom: 70px;
}



nav {
    font-family: 'Roboto Condensed';
}


nav li {
    padding: 10px;
    border-top: none!important;
}

.nav {
    padding-top: 20px;
}

nav li a {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    padding: 15px 0 3px 0!important;
    border-bottom: 1px solid rgba(255,255,255,0);
}

nav li a:hover, nav li a:focus, nav li a:active {
    color: #fff!important;
    border-bottom: 1px solid rgba(255,255,255,0.8);
    text-decoration: none!important;


}

.mathdr {
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 2px;
}
.mattxt {
    margin-bottom: 30px;

}
.featdec {
    height: 110px;
    width: 110px;
    border-radius: 55px;
    border: 1px solid #E8E8E8;
    margin: 0 auto;
    text-align: center;

}


#feats {
    padding-bottom: 40px;
}

.featvl {
    width: 1px;
    height: 20px;
    background-color:  #E8E8E8;
    margin: 0 auto;
}
.feathg {
    width: 50px;
    height: 2px;
    background-color: #82B541;
    margin: 0 auto 18px auto;
}
.featvc {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    border: 1px solid #E8E8E8;
    margin: 0 auto;
}
.featItem h4 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
}
.featItem p {
    text-align: center;
    font-size: 15px;
}

.btn-ord {
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    background-color: transparent;
    /*background-color: #FF5619;*/
    font-size: 19px;
    font-weight: 500;
    padding: 14px 30px;
    margin-right: 5px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
}

.btn-ord:hover {
    color: #fff;
    border: 2px solid #82B541;
    background-color: #82B541;
}

.btn-trans:hover {
    color: #fff;

}
.btn-trans {
    border-radius: 3px;
    background: transparent;
    border: 1px solid #fff;
    font-size: 19px;
    font-weight: 400;
    padding: 10px 30px;
}

#big_one {
    padding-bottom: 60px
}



#par_iwant {
    background: url(/images/bg1-2.jpg) no-repeat fixed center top;

    height: 505px;
    margin: 0 auto;
    width: 100%;
    max-width: 1920px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#par_iwant h3{
    color: #fff;
    text-transform: uppercase;
    font-family: "Roboto Condensed";
    font-size: 36px;
    font-weight: 500;
}

#par_iwant p {
    color: #fff;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
}

#greenContacts {
    background-color: #82B541; 
    padding-bottom: 30px; 
    padding-top: 30px;
}

#greenContacts p, #greenContacts a {
    color: #FFFFFF;
}


.formElement {
    width: 100%;
}


h6.box-header {
    border-bottom: 1px solid #E2E6E7;
		font-size: 14px;
}
.box-header:after {
    display: block;
    content: "";
    background: #82B541;
    width: 40px;
    height: 2px;
    margin-top: 13px;
}

.footwbg {
    background-color: #FFFFFF;
    border-radius: 100px;
    width: 87px;
    height: 87px;
}

.footpic {
    background-color: #FFFFFF;
}

#personalWhite img {
    border: 1px solid #E8E8E8;
    width: 87px;
    height: 87px;
    padding: 5px;
}

#personalWhite h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    color: #000;
}


.btn-ownord {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background: #82B541;
    letter-spacing: 1px;
    padding: 16px 23px 15px;
    text-align: center;
    cursor: pointer;
    line-height: normal;
    margin: auto 0;
    display: ;

    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border: 2px solid #82B541;
}

.btn-ownord:hover {
    color: #000;
    background: transparent;
    opacity: 1;
    text-decoration: none;
}


#personalWhite h3 {
    font-size: 22px;
    text-transform: uppercase;
    font-family: 'Roboto Condensed';
    color: #000;
}

#wantico_wrap {
margin-top: 60px;
    margin-bottom: 30px;
}

.wantdec {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 1px solid #fff;
    margin: 0 auto;
    text-align: center;
}

.wantdec img {
    width: 100px;
}
.wantvl {
    width: 1px;
    height: 20px;
    background-color: #fff;
    margin: 0 auto;
}
.wantvc {
    height: 14px;
    width: 14px;
    border-radius: 7px;
    border: 1px solid #fff;
    margin: 0 auto;
}

.cbp-l-loadMore-button {
    margin-top: 40px;
}

.cbp-l-loadMore-button .cbp-l-loadMore-button-link {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background: #82B541;
    letter-spacing: 1px;
    padding: 16px 23px 15px;
    text-align: center;
    cursor: pointer;
    line-height: normal;
    margin: auto 0;
    display: ;

    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border: 2px solid #82B541;
}

.cbp-l-loadMore-button .cbp-l-loadMore-button-link:hover {
    color: #000;
    background: transparent;
    opacity: 1;
    text-decoration: none;
}


#services {
    background-color: #F5F5F5;
    padding-bottom: 70px;
}

#services h4 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin: 20px 0;
}


#services p {
    text-align: center; font-size: 17px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #444; padding: 0px 25px;
    margin-bottom: 40px;
    margin-top: 24px; }

#services h4 > a {
    color: #000000;
}
#services a:hover {
    text-decoration: none;
}
.servithg {
    width: 50px;
    height: 2px;
    background-color: #82B541;
    margin: 0 auto 18px auto;
}

.btn-allserv {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    background: #82B541;
    letter-spacing: 1px;
    padding: 16px 23px 15px;
    text-align: center;
    cursor: pointer;
    line-height: normal;
    margin: auto 0;
    display: ;

    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    border: 2px solid #82B541;
}

.btn-allserv:hover {
    color: #000;
    background: transparent;
    opacity: 1;
    text-decoration: none;
}



/* XS */
@media (max-width: 767px) {

    .navbar-header {
        margin-bottom: 25px;
    }
    .navbar-brand {

    }
    .navbar-brand img {
        width: 100px;
        padding-top: 15px;
        opacity: 0.8;
        margin-right: 0;
        float: none!important;
        display: inline-block!important;
    }

    .navbar-nav {
        display: inline-block!important;
        float: none!important;
        padding-top: 10px!important;
    }
.navbar-collapse {
    background-color: rgba(0,0,0,0.5);
}
    nav li a {
        font-size: 18px;
        opacity: 1!important;
    }
    #headerPhone {
        margin-top: 50px;


    }
    #headerPhone img {
        height: 25px;
        display: none;
    }

    #headerPhone span {
        padding-top: 5px;
        font-size: 13px;
        float: right;

    }
    #bgMain h2 {
        font-size: 30px;
    }
    #bgMain h3 {
        font-size: 25px;
    }
    .btn-ord {
        font-size: 15px;
    }
}

/* SM */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-brand {
        margin-top: 0;

        float: none;
        display: block;
    }
    .navbar-brand img {
        width: 100px;
        padding-top: 30px;
        opacity: 0.8;
        margin-right: 0;
        float: none!important;
        display: inline-block!important;
    }

    .navbar-nav {
        display: inline-block!important;
        float: none!important;
        padding-top: 10px!important;
    }

    nav li a {
        font-size: 18px;
        opacity: 1!important;
    }
    #headerPhone {
        margin-top: 50px;


    }
    #headerPhone img {
        height: 25px;
display: none;
    }

    #headerPhone span {
        padding-top: 25px;
        font-size: 15px;
        float: none;

    }
    
}


/* MD */
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-brand img {
        width: 110px;
        margin-top: 30px;
        opacity: 0.8;
        margin-right: 25px;
    }
    nav li a {
        font-size: 16px;
    }
    #headerPhone {
        margin-top: 30px;
    }
    #headerPhone span {
        font-size: 18px;
        padding-top: 30px;
    }
}

/* LG */
@media (min-width: 1200px) {
    .navbar-brand img {
    width: 125px;
    margin-top: 25px;
    opacity: 0.8;
    margin-right: 100px;
    }
    nav li a {
        font-size: 18px;
    }
    #headerPhone {
        margin-top: 30px;
    }
    #headerPhone span {
        font-size: 18px;
        padding-top: 30px;
    }
}