<div class="overlay overlay-contentscale">
    <div class="ngdialog-close"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-6 col-lg-4">


        <wizard on-finish="finishedWizard()">
            <wz-step title="GeneralParams">
                <h1>1/3 Основные параметры</h1>
                <select name="name" id="inputID" class="form-control">
                    <option value=""> -- Технология --</option>
                    <option value="fachwerk">Фахверк</option>
                    <option value="classic">Клеёный брус</option>
                </select>

                <div class="text-right">
                    <input type="submit" wz-next value="Вперёд" />
                </div>

            </wz-step>
            <wz-step title="Continuing">
                <h1>Continuing</h1>
                <p>You have continued here!</p>
                <input type="submit" wz-next value="Go on" />
            </wz-step>
            <wz-step title="More steps">
                <p>Even more steps!!</p>
                <input type="submit" wz-next value="Finish now" />
            </wz-step>
        </wizard>
        </div>



    </div>

</div>