<div class="overlay overlay-contentscale">
    <div class="ngdialog-close"></div>
    <wizard on-finish="finishedWizard()" class="row">


        <wz-step title="GeneralParams">
            <h1>Композиционно-планировочное решение</h1>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="form-group">
                    Технология строительства
                    <select name="technology" id="technology" class="form-control">

                        <option value="fachwerk">Фахверк(GLF-"Glued Laminated Framing")</option>
                        <option value="classic">Клеёный профилированный брус</option>
                    </select>
                </div>

                <div class="form-group">
                    Ориентировочная площадь объекта
                    <div class="input-group">
                        <input type="number" min="100" class="form-control" id="totalSquare"
                               placeholder="минимум 100м&sup2;">
                        <div class="input-group-addon">м&sup2;</div>
                    </div>
                </div>
                <div class="form-group">
                    Этажность объекта(включая цокольный и мансардный этажи)
                    <select name="floors" id="floors" class="form-control">
                        <option value="1 этаж">1 этаж</option>
                        <option value="2 этажа">2 этажа</option>
                        <option value="3 этажа">3 этажа</option>
                    </select>
                    <div class="checkbox">
                        <label>
                            <input name="isGroundFloor" type="checkbox"> Цокольный этаж
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="isAtticFloor" type="checkbox"> Мансардный этаж
                        </label>
                    </div>
                </div>


                <div class="form-group">
                    Желаемая высота потолка
                    <select name="floorHeight" id="floorHeight" class="form-control">
                        <option value="2.5">2,5м</option>
                        <option value="2.7">2,7м</option>
                        <option value="3">3,0м</option>
                        <option value="3">>3.0м</option>
                    </select>
                </div>


                <div class="form-group">
                    Фундамент заложен?
                    <div class="radio">
                        <label>
                            <input type="radio" name="isSubstructure" id="isSubstructure" value="1" checked="checked">
                            Да
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="isSubstructure" id="" value="0">
                            Нужен
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    Тип фундамента
                    <select name="substructureType" id="substructureType" class="form-control">
                        <option value="Монолитный свайный железобетонный">Монолитный свайный железобетонный</option>
                        <option value="Перекрытие монолитное железобетонное">Перекрытие монолитное железобетонное
                        </option>
                        <option value="Монолитный ленточный железобетонный">Монолитный ленточный железобетонный</option>
                        <option value="Монолитный свайно-ленточный железобетонный">Монолитный свайно-ленточный
                            железобетонный
                        </option>
                        <option value="Монолитная плита перекрытия на сваях">Монолитная плита перекрытия на сваях
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    Тип кровли
                    <select name="roofType" id="roofType" class="form-control">
                        <option value="Плоская с внутренним водосливом">Плоская с внутренним водосливом</option>
                        <option value="Плоская с внешним водосливом ">Плоская с внешним водосливом</option>
                        <option value="Скатная ">Скатная</option>
                    </select>
                </div>
                <div class="form-group">
                    Тип кровельного покрытия
                    <select name="roofCoverType" id="roofCoverType" class="form-control">
                        <option value="Металлочерепица">Металлочерепица</option>
                        <option value="Мягкая кровля ">Мягкая кровля</option>
                        <option value="Штучная черепица (натуральная, цементно-песчаная) ">Штучная черепица
                            (натуральная, цементно-песчаная)
                        </option>
                        <option value="Тростник ">Тростник</option>
                        <option value="Сланцевая кровля ">Сланцевая кровля</option>
                        <option value="Кровельный металл ">Кровельный металл</option>
                        <option value="Мембрана ">Мембрана</option>
                    </select>
                </div>
                <div class="form-group">
                    Окна
                    <select name="windowsType" id="windowsType" class="form-control">
                        <option value="Пластиковые обычные(белые)">Пластиковые обычные(белые)</option>
                        <option value="Пластиковые ламинированные">Пластиковые ламинированные</option>
                        <option value="Деревянные(сосна)">Деревянные(сосна)</option>
                        <option value="Деревянные(лиственница)">Деревянные(лиственница)</option>
                        <option value="Деревянные(дуб)">Деревянные(дуб)</option>
                        <option value="Безрамное остекление">Безрамное остекление</option>
                    </select>
                </div>

                <div class="col-lg-12">
                    <input type="submit" wz-prev value="Назад" style="float: left"/>
                    <input type="submit" wz-next value="Вперёд" style="float: right"/>
                </div>
            </div>
        </wz-step>


        <wz-step title="Иженерные сети и коммуникации">
            <h1>Иженерные сети и коммуникации</h1>
            <div class="form-group">
                Электрическая сеть
                <select name="electricWiring" id="electricWiring" class="form-control">
                    <option value="Скрытая">Скрытая</option>
                    <option value="Открытая">Открытая</option>
                </select>
                <div class="checkbox">
                    <label>
                        <input name="electricReserve" type="checkbox">Резервное питание
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="electricAuto" type="checkbox">Автономная энергосистема
                    </label>
                </div>
            </div>

            <div class="form-group">
                Система отопления
                <div class="checkbox">
                    <label>
                        <input name="heatingGas" type="checkbox">Газ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="heatingGasgolder" type="checkbox">Газгольдер
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="heatingDiesel" type="checkbox">Дизель
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="heatingSolid" type="checkbox">Твердое торливо(дрова, пеллеты)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="heatingAlt" type="checkbox">Альтернативные источники
                    </label>
                </div>
                </div>

            <div class="form-group">
                Слаботочные сети
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">ТВ
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">интернет
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">Пожарная система
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">Охранная система
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">Видеонаблюдение
                    </label>
                </div>
             </div>

            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="lowVoltage" type="checkbox">Комплекс "Умный дом"
                    </label>
                </div>
            </div>

            <div class="form-group">
                Канализация
                <select name="sewage" id="sewage" class="form-control">
                    <option value="Автономная(септик)">Автономная(септик)</option>
                    <option value="Центральная">Центральная</option>
                    <option value=""></option>
                </select>
            </div>

            <div class="form-group">
                Водоснабжение
                <select name="water" id="water" class="form-control">
                    <option value="Автономное(скважина)">Автономное(скважина)</option>
                    <option value="Центральное">Центральное</option>
                </select>
            </div>
            <div class="form-group">

                    <textarea class="form-control" rows="3" id="communicationsAdditional"  placeholder="Примечания и пожелания"></textarea>

            </div>

            <div class="form-group">
                <input type="submit" wz-prev value="Назад" style="float: left"/>
                <input type="submit" wz-next value="Вперёд" style="float: right"/>
            </div>
        </wz-step>


        <wz-step title="Документация">
            <h1>Необходимые для работы документы</h1>
            <div class="form-group">
                Кадастровый паспорт
                <select name="docKPass" id="docKPass" class="form-control">
                    <option value="Имеется">Имеется</option>
                    <option value="Отсутствует">Отсутствует</option>
                </select>
            </div>
            <div class="form-group">
                Геодезические материалы (топографическая съемка участка)
                <select name="docGeodTopoShot" id="docGeodTopoShot" class="form-control">
                    <option value="Готовы">Готовы</option>
                    <option value="Нужно подготовить">Нужно подготовить</option>
                    <option value="Подготовим">Подготовим</option>
                </select>
            </div>
            <div class="form-group">
                Технические условия на подключение к энергосетям
                <select name="docElectroTechCond" id="docKPass" class="form-control">
                    <option value="Готовы">Готовы</option>
                    <option value="Нужно подготовить">Нужно подготовить</option>
                    <option value="Подготовим">Подготовим</option>
                </select>
            </div>
            <div class="form-group">
                Геологические изыскания (исследования грунта)
                <select name="docGeolResearch" id="docGeolResearch" class="form-control">
                    <option value="Готовы">Готовы</option>
                    <option value="Нужно подготовить">Нужно подготовить</option>
                    <option value="Подготовим">Подготовим</option>
                </select>
            </div>
            <div class="form-group">
                Градостроительный план (перечень внутренних норм для поселков закрытого типа)
                <select name="docGradostPlan" id="docGradostPlan" class="form-control">
                    <option value="Имеется">Имеется</option>
                    <option value="Отсутствует">Отсутствует</option>
                </select>
            </div>
            <div class="form-group">
                Технический паспорт (документ БТИ, отражающий техническое состояние недостроенного объекта)
                <select name="docGeolTopoShot" id="docGeolTopoShot" class="form-control">
                    <option value="Имеется">Имеется</option>
                    <option value="Отсутствует">Отсутствует</option>
                </select>
            </div>




            <h1>Перечень проектных работ(нужное выделить)</h1>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Эскизный проект
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Ландшафтный дизайн
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Дизайн интерьеров
                    </label>
                </div>
                <h1>Разделы рабочего проектирования (нужное выделить):</h1>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел АС (архитектурно-строительный)
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел ВК (водоснабжение-канализация)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел ОВ (отопление-вентиляция)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел ЭО (электроснабжение-освещение)
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел автоматика и пожарная сигнализация
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел газо/тепло снабжение, котельная
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="" type="checkbox">Раздел телефонизация, телевидение, компьютерное обеспечение
                    </label>
                </div>

            </div>
            <div class="col-lg-12">
                <input type="submit" wz-prev value="Назад" style="float: left"/>
                <input type="submit" wz-next value="Вперёд" style="float: right"/>
            </div>
        </wz-step>
    </wizard>


</div>