<div class="overlay overlay-contentscale" id="form-callback">
    <div class="ngdialog-close"></div>
    <div class="row">



        <form>
            <h3>Обратный звонок</h3>

            <div class="form-group" style="margin-bottom: 12px">
                <input type="text" name="clientName" ng-model="form.client" class="form-control" id="Ваше имя"
                       placeholder="Ваше имя">
            </div>

            <div class="form-group">

                <input type="text" name="clientPhone" ng-model="form.phone" class="form-control" id="phone"
                       placeholder="Номер телефона" required>

            </div>





                <div class="form-group" style="margin-bottom: 0">

                        <button ng-click="submitForm(form)" class="btn btn-send btn-block">Жду звонка</button>

                </div>



        </form>

    </div>
</div>


